[package]
name = "miniserve"
version = "0.4.1"
description = "For when you really just want to serve some files over HTTP right now!"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>", "Boastful Squirrel <boastful.squirrel@gmail.com>"]
repository = "https://github.com/svenstaro/miniserve"
license = "MIT"
readme = "README.md"
keywords = ["serve", "http-server", "static-files", "http", "server"]
categories = ["command-line-utilities", "command-line-interface", "network-programming", "web-programming::http-server"]
edition = "2018"

[badges]
travis-ci = { repository = "svenstaro/miniserve", branch = "master" }
maintenance = { status = "actively-developed" }

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = 'abort'

[dependencies]
clap = "2.29"
yansi = "0.5"
actix = "0.7"
actix-web = "0.7"
simplelog = "0.5"
base64 = "0.10"
percent-encoding = "1.0.1"
htmlescape = "0.3.1"
bytesize = "1.0.0"
nanoid = "0.2.0"
alphanumeric-sort = "1.0.6"
structopt = "0.2.15"
chrono = "0.4.6"
chrono-humanize = "0.0.11"
maud = { version = "0.20.0", features = ["actix-web"] }
serde = { version = "1.0.91", features = ["derive"] }
tar = "0.4.25"
bytes = "0.4.12"
futures = "0.1.27"
libflate = "0.1.21"
failure = "0.1.5"
log = "0.4.6"
strum = "0.15.0"
strum_macros = "0.15.0"
sha2 = "0.8.0"
hex = "0.3.2"

[dev-dependencies]
assert_cmd = "0.11"
reqwest = "0.9"
assert_fs = "0.11"
select = "0.4"
port_check = "0.1"
rstest = { git = "https://github.com/la10736/rstest.git" }
pretty_assertions = "0.6"
