[package]
name = "miniserve"
version = "0.16.1-alpha.0"
description = "For when you really just want to serve some files over HTTP right now!"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>", "Boastful Squirrel <boastful.squirrel@gmail.com>"]
repository = "https://github.com/svenstaro/miniserve"
license = "MIT"
readme = "README.md"
keywords = ["serve", "http-server", "static-files", "http", "server"]
categories = ["command-line-utilities", "network-programming", "web-programming::http-server"]
edition = "2018"
resolver = "2"

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = 'abort'

[dependencies]
actix-web = "4.0.0-beta.8"
actix-files = "0.6.0-beta.6"
actix-multipart = "0.4.0-beta.5"
actix-web-httpauth = "0.6.0-beta.2"
maud = "0.22"
yansi = "0.5"
simplelog = "0.10"
percent-encoding = "2"
port_check = "0.1"
bytesize = "1"
nanoid = "0.4"
alphanumeric-sort = "1"
clap = { version = "3.0.0-beta.4", features = ["wrap_help"] }
clap_generate = "3.0.0-beta.4"
chrono = "0.4"
chrono-humanize = "0.2"
serde = { version = "1", features = ["derive"] }
tar = "0.4"
futures = "0.3"
libflate = "1"
thiserror = "1"
anyhow = "1"
log = "0.4"
strum = "0.21"
strum_macros = "0.21"
sha2 = "0.9"
hex = "0.4"
zip = "0.5.11"
qrcodegen = "1"
mime = "0.3"
httparse = "1"
http = "0.2"
bytes = "1"
atty = "0.2"
rustls = { version = "0.19", optional = true }
socket2 = "0.4"
get_if_addrs = "0.5"

[features]
default = ["tls"]
# This feature allows us to use rustls only on architectures supported by ring.
# See also https://github.com/briansmith/ring/issues/1182
# and https://github.com/briansmith/ring/issues/562
# and https://github.com/briansmith/ring/issues/1367
tls = ["rustls", "actix-web/rustls"]

[dev-dependencies]
assert_cmd = "2"
reqwest = { version = "0.11", features = ["blocking", "multipart", "rustls-tls"], default-features = false }
assert_fs = "1"
select = "0.5"
rstest = "0.11"
regex = "1"
pretty_assertions = "0.7"
url = "2"
predicates = "2"

[build-dependencies]
grass = "0.10"

# This needs to stay here at least until https://github.com/abonander/mime_guess/pull/66 is merged.
# Also see https://github.com/svenstaro/miniserve/issues/160
[patch.crates-io]
mime_guess = { git = "https://github.com/svenstaro/mime_guess.git" }
