[package]
name = "miniserve"
version = "0.9.1-alpha.0"
description = "For when you really just want to serve some files over HTTP right now!"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>", "Boastful Squirrel <boastful.squirrel@gmail.com>"]
repository = "https://github.com/svenstaro/miniserve"
license = "MIT"
readme = "README.md"
keywords = ["serve", "http-server", "static-files", "http", "server"]
categories = ["command-line-utilities", "network-programming", "web-programming::http-server"]
edition = "2018"

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = 'abort'

[dependencies]
yansi = "0.5"
actix-web = "3.0"
simplelog = "0.8"
percent-encoding = "2.1"
port_check = "0.1"
bytesize = "1.0.0"
nanoid = "0.3"
alphanumeric-sort = "1.4.0"
structopt = "0.3"
chrono = "0.4.15"
chrono-humanize = "0.1.1"
maud = { version = "0.22.0", features = ["actix-web"] }
serde = { version = "1.0.115", features = ["derive"] }
tar = "0.4.30"
futures = "0.3.5"
libflate = "1.0.2"
failure = "0.1.8"
log = "0.4.11"
strum = "0.19.2"
strum_macros = "0.19.2"
sha2 = "0.9"
hex = "0.4.2"
zip = "0.5.5"
qrcodegen = "1.6.0"
actix-files = "0.3.0"
actix-multipart = "0.3.0"
actix-rt = "1.1.1"
actix-web-httpauth = "0.5.0"
mime = "0.3"
grass = "0.10.3"
lazy_static = "1.4.0"

[dev-dependencies]
assert_cmd = "1.0"
reqwest = { version = "0.10", features = ["blocking", "rustls-tls"], default-features = false }
assert_fs = "1.0"
select = "0.5"
rstest = "0.6"
regex = "1.3.9"
pretty_assertions = "0.6"
url = "2.1"
