[package]
name = "miniserve"
version = "0.7.0"
description = "For when you really just want to serve some files over HTTP right now!"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>", "Boastful Squirrel <boastful.squirrel@gmail.com>"]
repository = "https://github.com/svenstaro/miniserve"
license = "MIT"
readme = "README.md"
keywords = ["serve", "http-server", "static-files", "http", "server"]
categories = ["command-line-utilities", "network-programming", "web-programming::http-server"]
edition = "2018"

[badges]
travis-ci = { repository = "svenstaro/miniserve", branch = "master" }
maintenance = { status = "actively-developed" }

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = 'abort'

[dependencies]
yansi = "0.5"
actix = "0.7"
actix-web = "0.7"
simplelog = "0.8"
base64 = "0.12"
percent-encoding = "2.1"
port_check = "0.1"
htmlescape = "0.3.1"
bytesize = "1.0.0"
nanoid = "0.3"
alphanumeric-sort = "1.0.13"
structopt = "0.3"
chrono = "0.4.10"
chrono-humanize = "0.0.11"
maud = { version = "0.22.0", features = ["actix-web"] }
serde = { version = "1.0.110", features = ["derive"] }
tar = "0.4.27"
bytes = "0.4.12"
futures = "0.1.29"
libflate = "1.0.2"
failure = "0.1.8"
log = "0.4.11"
strum = "0.18.0"
strum_macros = "0.18.0"
sha2 = "0.9"
hex = "0.4.2"
zip = "0.5.5"
qrcodegen = "1.6.0"

[dev-dependencies]
assert_cmd = "1.0"
reqwest = { version = "0.10", features = ["blocking"] }
assert_fs = "1.0"
select = "0.4"
rstest = "0.6"
regex = "1.3.9"
pretty_assertions = "0.6"
url = "2.1"
