[package]
name = "miniserve"
version = "0.5.0"
description = "For when you really just want to serve some files over HTTP right now!"
authors = ["Sven-Hendrik Haase <svenstaro@gmail.com>", "Boastful Squirrel <boastful.squirrel@gmail.com>"]
repository = "https://github.com/svenstaro/miniserve"
license = "MIT"
readme = "README.md"
keywords = ["serve", "http-server", "static-files", "http", "server"]
categories = ["command-line-utilities", "network-programming", "web-programming::http-server"]
edition = "2018"

[badges]
travis-ci = { repository = "svenstaro/miniserve", branch = "master" }
maintenance = { status = "actively-developed" }

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
panic = 'abort'

[dependencies]
yansi = "0.5"
actix = "0.7"
actix-web = "0.7"
simplelog = "0.7"
base64 = "0.11"
percent-encoding = "2.1"
htmlescape = "0.3.1"
bytesize = "1.0.0"
nanoid = "0.2.0"
alphanumeric-sort = "1.0.11"
structopt = "0.3"
chrono = "0.4.10"
chrono-humanize = "0.0.11"
maud = { version = "0.21.0", features = ["actix-web"] }
serde = { version = "1.0.104", features = ["derive"] }
tar = "0.4.25"
bytes = "0.4.12"
futures = "0.1.29"
libflate = "0.1.26"
failure = "0.1.5"
log = "0.4.8"
strum = "0.16.0"
strum_macros = "0.16.0"
sha2 = "0.8.0"
hex = "0.4.0"

[dev-dependencies]
assert_cmd = "0.12"
reqwest = "0.9"
assert_fs = "0.13"
select = "0.4"
port_check = "0.1"
rstest = "0.4"
pretty_assertions = "0.6"
url = "2.1"
